  <footer class="footer">
        <div class="container">
            <div class="flex-container flex-footer">
                <div class="footer__adress">
                     <a href="#" class="logo">MODUS <span class="logo_small">versus</span></a>
                     <p class="footer__adress_text">
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .
                     </p>
                     <p class="footer__phone"><span class="phone__text">Phone:</span>182 2569 5896</p>
                     <p class="footer__phone"><span class="phone__text">e-mail:</span>info@modu.versus</p>
                </div>
                <div class="company">
                   <h4 class="block-title footer__title">Company</h4>
                    <ul class="company__list">
                        <li class="company__item"><a href="#" class="company__link"><span class="list__arrow"></span> About</a></li>
                        <li class="company__item"><a href="#" class="company__link"><span class="list__arrow"></span>FAQ</a></li>
                        <li class="company__item"><a href="#" class="company__link"><span class="list__arrow"></span>Contact</a></li>
                        <li class="company__item"><a href="#" class="company__link"><span class="list__arrow"></span>Terms</a></li>
                        <li class="company__item"><a href="#" class="company__link"><span class="list__arrow"></span>Privacy</a></li>
                        <li class="company__item"><a href="#" class="company__link"><span class="list__arrow"></span>Testimonials</a></li>
                    </ul>
                </div>
                <div class="community">
                    <h4 class="block-title footer__title">Community</h4>
                    <ul class="community__list">
                        <li class="community__item"><a href="#" class="community__link"><span class="list__arrow"></span>Blog</a></li>
                        <li class="community__item"><a href="#" class="community__link"><span class="list__arrow"></span>Forum</a></li>
                        <li class="community__item"><a href="#" class="community__link"><span class="list__arrow"></span>Support</a></li>
                        <li class="community__item"><a href="#" class="community__link"><span class="list__arrow"></span>Newsletter</a></li>
                    </ul>
                </div>
                <div class="footer-blog ">
                    <h4 class="block-title footer__title"><span class="block-title_italic">from the</span>from the BLOG</h4>
                    <div class="footer-blog__item">
                        <img src="img/footer/footer-img-1.jpg" alt="img-blog" class="footer-blog__img">
                        <p class="footer-blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            <a href="#" class="footer-blog__date">26 May, 2013</a>
                        </p>
                    </div>
                    <div class="footer-blog__item">
                        <img src="img/footer/footer-img-2.jpg" alt="img-blog" class="footer-blog__img">
                        <p class="footer-blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            <a href="#" class="footer-blog__date">26 May, 2013</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-social">
             <div class="container flex-social">
                <span class="copy">2013  ModusVersus</span>
                <ul class="social__list">
                    <li class="social__item"><a href="#" class="social__link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social__item"><a href="#" class="social__link"><i class="fab fa-twitter"></i></a></li>
                    <li class="social__item"><a href="#" class="social__link"><i class="fab fa-behance"></i></a></li>
                    <li class="social__item"><a href="#" class="social__link"><i class="fa fa-globe"></i></a></li>
                </ul>
             </div>
        </div>
    </footer>
