    <%- include('_layouts/header') %>
       <main class="main">
        <section class="breadcrumb">
            <div class="container">
                <div class="flex-container flex-breadcrumb">
                    <span class="block-title">BLOG</span>
                    <p class="breadcrumb-container">
                        <a href="index.html" class="breadcrumb-link">Home</a>
                        <span>/</span>
                        <a href="#" class="breadcrumb-link">Blog</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="flex-container comments-flex">
             <section class="main-blog">
                <div class="flex-container flex-block__admin">
                    <div class="left__inner">
                        <img src="img/footer/footer-img-1.jpg" alt="" class="avatar-admin">
                    </div>
                    <div class="inner-right">
                         <h1 class="section-title blog-title">
                            Duis dapibus aliquam mi, eget euismod sem scelerisque ut.
                         </h1>
                         <div class="block-text"><span class="blog__date">25 May 2013,</span> Posted by <a href="#" class="blog__link">Admin in Wordpress</a>  <a href="#" class="blog__link"><span class="blog__icon"><i class="fa fa-tags"></i></span> Design, Template</a> <a href="#" class="blog__number blog__link"><span class="blog__icon"><i class="fa fa-comments"></i></span>22</a></div>
                    </div>
                </div>
                <div class="blog-slider__wrap">
                    <section class="slaider__wrapper slider-blog__wrapper">
                        <div class="slider slider-blog">
                            <div class="slider__item slider__item_main slider__item_main_active">
                                 <img src="img/portfolio/portfolio-1.png" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <div class="slider__item slider__item_main">  
                                <img src="img/portfolio/portfolio-3.jpg" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <div class="slider__item slider__item_main ">
                                <img src="img/portfolio/portfolio-2.jpeg" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <a href="#" class="slider__arrow slider__arrow_left">
                                <span class="arrow__inner arrow__inner_left"></span>
                                <span class="arrow__inner_1 arrow__inner arrow__inner_left"></span>
                            </a>
                            <a href="#" class="slider__arrow slider__arrow_right">
                                <span class=" arrow__inner_right arrow__inner"></span>
                                <span class="arrow__inner_2 arrow__inner_right arrow__inner"></span>
                            </a>
                        </div>
                        <ul class="slider-indicator slider-blog__indicator">
                            <li class="slider-indicator__item slider-indicator_active"></li>
                            <li class="slider-indicator__item"></li>
                            <li class="slider-indicator__item"></li>
                        </ul>
                    </section>
                </div>
                <article class="blog__description">
                    <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione repellat deleniti veritatis dolore rerum blanditiis culpa suscipit consectetur fuga doloribus, esse recusandae ea eveniet nisi neque dolor reprehenderit. Rerum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione repellat deleniti veritatis dolore rerum blanditiis culpa suscipit consectetur fuga doloribus, esse recusandae ea eveniet nisi neque dolor reprehenderit. Rerum!</p>
                    <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione repellat deleniti veritatis dolore rerum blanditiis culpa suscipit consectetur fuga doloribus, esse recusandae ea eveniet nisi neque dolor reprehenderit. Rerum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione repellat deleniti veritatis dolore rerum blanditiis culpa suscipit consectetur fuga doloribus, esse recusandae ea eveniet nisi neque dolor reprehenderit. Rerum!</p>
                    <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione repellat deleniti veritatis dolore rerum blanditiis culpa suscipit consectetur fuga doloribus, esse recusandae ea eveniet nisi neque dolor reprehenderit. Rerum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione repellat deleniti veritatis dolore rerum blanditiis culpa suscipit consectetur fuga doloribus, esse recusandae ea eveniet nisi neque dolor reprehenderit. Rerum!</p>
                    <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione repellat deleniti veritatis dolore rerum blanditiis culpa suscipit consectetur fuga doloribus, esse recusandae ea eveniet nisi neque dolor reprehenderit. Rerum!</p>
                   <blockquote class="blockquote-blog">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus perspiciatis obcaecati odit, distinctio, incidunt molestiae fuga deserunt ipsum minima aut dolore iusto repellat ullam. Ad molestiae modi autem? Rerum, molestias? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus perspiciatis obcaecati odit, distinctio, incidunt molestiae fuga deserunt ipsum minima aut dolore iusto repellat ullam. Ad molestiae modi autem? Rerum, molestias?
                   </blockquote>
                </article>
                <div class="nav-slider blog__social">
                    <span class="block-title">SHARE</span>
                        <div class="range-container blog-social">
                            <ul class="blog-social__list">
                                <li class="blog-social__item">
                                    <a href="#" class="blog-social__link  link_facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="blog-social__item">
                                    <a href="#" class="blog-social__link link_twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="blog-social__item">
                                    <a href="#" class="blog-social__link link_glooble"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li class="blog-social__item">
                                    <a href="#" class="blog-social__link link_linkedin"><i class="fa fa-linkedin" ></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="arrow-container social-arrow">
                            <a href="#" class="client__arrow btn client__arrow_left"><span></span></a>
                            <a href="#" class="client__arrow btn client__arrow_right"><span></span></a>
                        </div>
                </div>

            <div class="commetns">
                    <h4 class="block-title comments-title"><span class="number__comment"></span> comments</h4>
                    <ul class="comments__list">

                    </ul>
            </div> 
                <form action="" class="form-contacts form-comments">
                    <h4 class="block-title form-title form-comments-title">Leave a commnet</h4>
                    <label class="form__label"><input class="form__input fotm__input-name" type="text">Name</label>
                    <label class="form__label"><input class="form__input" type="email">E-mail</label>
                    <textarea class="form__textarea"></textarea>
                    <button class="btn__blue form__btn">send</button>
                </form>
             </section>
             <aside class="aside-blog article-categories">
                 <article class="article-block">
                    <h4 class="block-title aside-title">CATEGORIES</h4>
                     <ul class="aside__list">
                         <li class="aside__item"><span class="list-type aside-type"><i class="fa fa-arrow-right"></i></span><a href="#" class="aside__link">LOGO DESIGN</a></li>
                         <li class="aside__item"><span class="list-type aside-type"><i class="fa fa-arrow-right"></i></span><a href="#" class="aside__link">WEB DESIGN</a></li>
                         <li class="aside__item"><span class="list-type aside-type"><i class="fa fa-arrow-right"></i></span><a href="#" class="aside__link">PHOTOGRAPHY</a></li>
                         <li class="aside__item"><span class="list-type aside-type"><i class="fa fa-arrow-right"></i></span><a href="#" class="aside__link">WORDPRESS</a></li>
                         <li class="aside__item"><span class="list-type aside-type"><i class="fa fa-arrow-right"></i></span><a href="#" class="aside__link">ICONS</a></li>
                     </ul>
                 </article>
                 <article class="article-block article-post">
                    <h4 class="block-title aside-title">RECENT POSTS</h4>
                     <ul class="aside__list">
                         <li class="aside__item aside__item_flex"><span class="list-type aside-tipe_post"><i class="fa fa-angle-right"></i></span><a href="#" class="aside__link">Curabitur vitae velit <span class="aside__date">25 May 2013</span></a></li>
                         <li class="aside__item aside__item_flex"><span class="list-type aside-tipe_post"><i class="fa fa-angle-right"></i></span><a href="#" class="aside__link">Vivamus at elit quis urna adipiscing iaculis <span class="aside__date">25 May 2013</span></a></li>
                         <li class="aside__item aside__item_flex"><span class="list-type aside-tipe_post"><i class="fa fa-angle-right"></i></span><a href="#" class="aside__link">Curabitur vitae velit<span class="aside__date">25 May 2013</span></a></li>
                         <li class="aside__item aside__item_flex"><span class="list-type aside-tipe_post"><i class="fa fa-angle-right"></i></span><a href="#" class="aside__link">Vivamus at elit quis urna adipiscing iaculis<span class="aside__date">25 May 2013</span></a></li>
                     </ul>
                 </article>
                 <article class="article-block article-tags">
                    <h4 class="block-title aside-title">tags</h4>
                     <div class="aside__list">
                        <a href="#" class="tags__link">Praesent </a>
                        <a href="#" class="tags__link">Maecenas </a>
                        <a href="#" class="tags__link">link</a>
                        <a href="#" class="tags__link">moda</a>
                        <a href="#" class="tags__link">fation</a>
                        <a href="#" class="tags__link">top</a>
                        <a href="#" class="tags__link">Praesent </a>
                        <a href="#" class="tags__link">link</a>
                     </div>
                 </article>
                 <article class="article-block article-date">
                    <h4 class="block-title aside-title">ARCHIVE</h4>
                     <ul class="aside__list">
                         <li class="aside__item"><span class="list-type aside-type"><i class="fa fa-arrow-right"></i></span><a href="#" class="aside__link">2015</a></li>
                         <li class="aside__item"><span class="list-type aside-type"><i class="fa fa-arrow-right"></i></span><a href="#" class="aside__link">2016</a></li>
                         <li class="aside__item"><span class="list-type aside-type"><i class="fa fa-arrow-right"></i></span><a href="#" class="aside__link">2020</a></li>
                     </ul>
                 </article>
             </aside>
            </div>
        </div>
    </main>
    <%- include('_layouts/footer') %>
    <script src="/js/main.js"></script>
    <script src="/js/comments.js"></script>
    <script src="/js/Slider.js"></script>
    <script src="/js/sliderBlog.js"></script>

</body>
</html>