<%- include('_layouts/header')%>

    <main class="main">
        <section class="breadcrumb">
            <div class="container">
                <div class="flex-container flex-breadcrumb">
                    <span class="block-title">Features</span>
                    <p class="breadcrumb-container">
                        <a href="index.html" class="breadcrumb-link">Home</a>
                        <span>/</span>
                        <a href="#" class="breadcrumb-link">Features</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="container">
            <section class="slaider__wrapper slider__wrapper_portfolio">
                <div class="slider">
                    <div class="slider__item slider__item_main slider__item_main_active">
                        <img src="img/portfolio/portfolio-2.jpeg" alt="картинка в слайдере" class="slider__img">
                    </div>
                    <div class="slider__item slider__item_main">
                         <img src="img/portfolio/portfolio-1.png" alt="картинка в слайдере" class="slider__img">
                    </div>
                    <div class="slider__item slider__item_main">
                        <img src="img/portfolio/portfolio-3.jpg" alt="картинка в слайдере" class="slider__img">
                    </div>
                    <a href="#" class="slider__arrow slider__arrow_left">
                        <span class="arrow__inner arrow__inner_left"></span>
                        <span class="arrow__inner_1 arrow__inner arrow__inner_left"></span>
                    </a>
                    <a href="#" class="slider__arrow slider__arrow_right">
                        <span class=" arrow__inner_right arrow__inner "></span>
                        <span class="arrow__inner_2 arrow__inner_right arrow__inner"></span>
                    </a>
                </div>
                <ul class="slider-indicator features__indicator">
                    <li class="slider-indicator__item slider-indicator_active"></li>
                    <li class="slider-indicator__item "></li>
                    <li class="slider-indicator__item"></li>
                </ul>
            </section>
            <div class="flex-container flex-features">
                <div class="features__big">
                     <section class="slaider__wrapper slider__prew_gallery">
                        <div class="slider">
                            <div class="slider__item slider__item_main slider__item_main_active">
                                <img src="img/portfolio/portfolio-1.png" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <div class="slider__item slider__item_main">
                                <img src="img/portfolio/portfolio-2.jpeg" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <div class="slider__item slider__item_main">
                                <img src="img/portfolio/portfolio-3.jpg" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <a href="#" class="slider__arrow slider__arrow_left">
                                <span class="arrow__inner arrow__inner_left"></span>
                                <span class="arrow__inner_1 arrow__inner arrow__inner_left"></span>
                            </a>
                            <a href="#" class="slider__arrow slider__arrow_right">
                                <span class=" arrow__inner_right arrow__inner"></span>
                                <span class="arrow__inner_2 arrow__inner_right arrow__inner"></span>
                            </a>
                        </div>
                        <ul class="slider-indicator features_indicator">
                            <li class="slider-indicator__item slider-indicator_active"></li>
                            <li class="slider-indicator__item "></li>
                            <li class="slider-indicator__item"></li>
                        </ul>
                    </section>   
                </div>
                <aside class="faetures__aside">
                    <article class="slider_small slaider__wrapper">
                        <div class="slider fauters__slider_small">
                            <div class="slider__item slider__item_main slider__item_main_active">
                                <img src="img/portfolio/portfolio-1.png" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <div class="slider__item slider__item_main">
                                <img src="img/portfolio/portfolio-3.jpg" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <div class="slider__item slider__item_main">
                                <img src="img/portfolio/portfolio-2.jpeg" alt="картинка в слайдере" class="slider__img">
                            </div>
                            <a href="#" class="slider__arrow slider__arrow_left features__arrow">
                                <span class="arrow__inner_1 arrow__inner arrow__inner_left arrow__features"></span>
                            </a>
                            <a href="#" class="slider__arrow slider__arrow_right features__arrow">
                                <span class=" arrow__inner_right arrow__inner arrow__features arrow__features_right"></span>
                            </a>
                        </div>
                        <ul class="slider-indicator features_indicator_small">
                            <li class="slider-indicator__item slider-indicator_active"></li>
                            <li class="slider-indicator__item "></li>
                            <li class="slider-indicator__item"></li>
                        </ul>
                    </article>
                    <article class="gallery">
                        <h4 class="block-title features-block-title">
                            SIDEBAR GALLERY
                        </h4>
                        <div class="gallery__wrapper">
                            <img src="img/features/features-1.jpg" alt="" class="gallery__img">
                            <img src="img/features/features-2.jpg" alt="" class="gallery__img">
                            <img src="img/features/features-3.jpg" alt="" class="gallery__img">
                            <img src="img/features/features-4.jpg" alt="" class="gallery__img">
                            <img src="img/features/features-5.jpg" alt="" class="gallery__img">
                            <img src="img/features/features-6.jpg" alt="" class="gallery__img">
                        </div>
                    </article>
                </aside>
            </div>
            <sectiom class="services flex-container">
                <div class="card">
                    <span class="card__img"><i class="fa fa-thumbs-o-up"></i></span>
                    <span class="card__title">SUSPENDISSE </span>
                    <p class="card__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus .</p>
                    <a href="#" class="card__btn btn__big">read more</a>
                </div>
                <div class="card">
                    <span class="card__img"><i class="fa fa-key"></i></span>
                    <span class="card__title">MAECENAS </span>
                    <p class="card__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
                    <a href="#" class="card__btn btn__big">read more</a>
                </div>
                <div class="card">
                    <span class="card__img"><i class="fa fa-flag-o"></i></span>
                    <span class="card__title">ALIQUAM </span>
                    <p class="card__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
                    <a href="#" class="card__btn btn__big">read more</a>
                </div>
                <div class="card">
                    <span class="card__img"><i class="fa fa-flask"></i></span>
                    <span class="card__title">HABITASSE </span>
                    <p class="card__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci</p>
                    <a href="#" class="card__btn btn__big">read more</a>
                </div>
            </sectiom>
            <div class="flex-container tabs-container">
                <section class="features__big features__big_accordion">
                    <div class="accordion-features">
                        <div class="accordion-item acordion__item_big">
                            <a href="#" class="accorfion__link accorfion__link_big">title 1 <span class="accordion__icon "><i class="fa fa-plus accordion-icon" ></i><i class="fa fa-minus icon-active accordion-icon"></i></span></a>
                            <div class="accordion-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda iusto minima ex consequatur, dolor minus quae sunt repellendus neque in? Minus itaque sunt esse atque id, ullam reiciendis iusto. </div> 
                        </div>
                        <div class="accordion-item acordion__item_big">
                            <a href="#" class="accorfion__link accorfion__link_big">title 1 <span class="accordion__icon "><i class="fa fa-plus accordion-icon" ></i><i class="fa fa-minus icon-active accordion-icon"></i></span></a>
                            <div class="accordion-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda iusto minima ex consequatur, dolor minus quae sunt repellendus neque in? Minus itaque sunt esse atque id, ullam reiciendis iusto. </div> 
                        </div>
                        <div class="accordion-item active-tabs acordion__item_big">
                            <a href="#" class="accorfion__link accorfion__link_big">title 1 <span class="accordion__icon "><i class="fa fa-plus accordion-icon" ></i><i class="fa fa-minus icon-active accordion-icon"></i></span></a>
                            <div class="accordion-text "> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda iusto minima ex consequatur, dolor minus quae sunt repellendus neque in? Minus itaque sunt esse atque id, ullam reiciendis iusto. </div> 
                        </div>
                    </div>
                </section>
                <aside class="faetures__aside accordion__aside">
                    <div class="accordion-features">
                        <div class="accordion-item acordion__item_small">
                            <a href="#" class="accorfion__link accorfion__link_small">title 1 <span class="accordion__icon "><i class="fa fa-plus accordion-icon" ></i><i class="fa fa-minus icon-active accordion-icon"></i></span></a>
                            <div class="accordion-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda iusto minima ex consequatur, dolor minus quae sunt repellendus neque in? Minus itaque sunt esse atque id, ullam reiciendis iusto. </div> 
                        </div>
                        <div class="accordion-item acordion__item_small">
                            <a href="#" class="accorfion__link accorfion__link_small">title 1 <span class="accordion__icon "><i class="fa fa-plus accordion-icon" ></i><i class="fa fa-minus icon-active accordion-icon"></i></span></a>
                            <div class="accordion-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda iusto minima ex consequatur, dolor minus quae sunt repellendus neque in? Minus itaque sunt esse atque id, ullam reiciendis iusto. </div> 
                        </div>
                        <div class="accordion-item active-tabs acordion__item_small ">
                            <a href="#" class="accorfion__link accorfion__link_small">title 1 <span class="accordion__icon "><i class="fa fa-plus accordion-icon" ></i><i class="fa fa-minus icon-active accordion-icon"></i></span></a>
                            <div class="accordion-text "> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda iusto minima ex consequatur, dolor minus quae sunt repellendus neque in? Minus itaque sunt esse atque id, ullam reiciendis iusto. </div> 
                        </div>
                    </div>
                </aside>
            </div>
            <div class="flex-container tabs-container">
                <section class="features__big features__tabs_big">
                    <div class="tabs">
                        <a class='tabs__link tabs-active' href="#" data-index='tab-1'>tab title</a>
                        <a class='tabs__link' href="#" data-index='tab-2'>tab title</a>
                        <a class='tabs__link' href="#" data-index='tab-3'>tab title</a>
                        <a class='tabs__link' href="#" data-index='tab-4'>tab title</a>
 
                        <section class="content-tab active__tabs tab-1" >
                           <div class="content-flex">
                                <p class="tabs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ab atque officia earum suscipit, quasi, consequatur aut debitis tempore mollitia nemo excepturi cum corrupti molestias, possimus amet error voluptatum voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis minus neque commodi voluptatum, repellat at! Ducimus minima ipsa alias sint, facere tenetur reprehenderit architecto debitis dolorum perspiciatis odit, libero quasLorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ab atque officia earum suscipit, quasi, consequatur aut debitis tempore mollitia nemo excepturi cum corrupti molestias, possimus amet error voluptatum voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis minus neque commodi voluptatum, repellat at! Ducimus minima ipsa alias sint, facere tenetur reprehenderit architecto debitis dolorum perspiciatis odit, libero quas
                                
                                </p>
                                <img src="img/features/features-1.jpg" alt="" class="tab-img">
                           </div>
                        </section>  
                        <section class="content-tab tab-2" >
                           <div class="content-flex">
                                <p class="tabs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ab atque officia earum suscipit, quasi, consequatur aut debitis tempore mollitia nemo excepturi cum corrupti molestias, possimus amet error voluptatum voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis minus neque commodi voluptatum, repellat at! Ducimus minima ipsa alias sint, facere tenetur reprehenderit architecto debitis dolorum perspiciatis odit, libero quas</p>
                                <img src="img/features/features-2.jpg" alt="" class="tab-img">
                           </div>
                        </section> 
                        <section class="content-tab tab-3" >
                           <div class="content-flex">
                                <p class="tabs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ab atque officia earum suscipit, quasi, consequatur aut debitis tempore mollitia nemo excepturi cum corrupti molestias, possimus amet error voluptatum voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis minus neque commodi voluptatum, repellat at! Ducimus minima ipsa alias sint, facere tenetur reprehenderit architecto debitis dolorum perspiciatis odit, libero quas
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ab atque officia earum suscipit, quasi, consequatur aut debitis tempore mollitia nemo excepturi cum corrupti molestias, possimus amet error voluptatum voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis minus neque commodi voluptatum, repellat at! Ducimus minima ipsa alias sint, facere tenetur reprehenderit architecto debitis dolorum perspiciatis odit, libero quas
                                </p>
                                <img src="img/features/features-5.jpg" alt="" class="tab-img">
                           </div>
                        </section> 
                        <section class="content-tab tab-4" >
                           <div class="content-flex">
                                <p class="tabs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ab atque officia earum suscipit, quasi, consequatur aut debitis tempore mollitia nemo excepturi cum corrupti molestias, possimus amet error voluptatum voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis minus neque commodi voluptatum, repellat at! Ducimus minima ipsa alias sint, facere tenetur reprehenderit architecto debitis dolorum perspiciatis odit, libero quas</p>
                                <img src="img/features/features-6.jpg" alt="" class="tab-img">
                           </div>
                        </section>    
                    </div>
                </section>

                <aside class="faetures__aside tabs__aside">
                    <div class="tabs__small tabs">
                        <a class='tabs__link tabs-active' href="#" data-index='tab-1'>tab title</a>
                        <a class='tabs__link' href="#" data-index='tab-2'>tab title</a>
                        <section class="content-tab active__tabs tab-1" data-tab = 'small-1'>
                            <p>Lorem ipsum dolor s12it amet, consectetur adipisicing elit. Fuga ab atque officia earum suscipit, quasi, consequatur aut debitis tempore mollitia nemo excepturi cum corrupti molestias, possimus amet error</p>
                        </section>  
                        <section class="content-tab tab-2">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ab atque officia earum suscipit, quasi, consequatur aut debitis tempore mollitia nemo excepturi cum corrupti molestias, possimus amet error voluptatum voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </section>    
                    </div>     
                </aside>
            </div>
            <div class="flex-container features-prodject">
                <div class="card-portfolio features-card">
                    <img src="img/portfolio/project-6.jpg" alt="фотография участника компании" class="abaut-card__img card-portfolio__img">
                    <ul class="card-social__list card-portfolio__list">
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-link"></i></a>
                    </ul>
                    <span class="card-title">Name project</span>
                </div>
                <div class="card-portfolio features-card">
                    <img src="img/portfolio/project-7.jpg" alt="фотография участника компании" class="abaut-card__img card-portfolio__img">
                    <ul class="card-social__list card-portfolio__list">
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-link"></i></a>
                    </ul>
                    <span class="card-title">Name project</span>
                </div>
                <div class="card-portfolio features-card">
                    <img src="img/portfolio/project-3.jpg" alt="фотография участника компании" class="abaut-card__img card-portfolio__img">
                    <ul class="card-social__list card-portfolio__list">
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-link"></i></a>
                    </ul>
                    <span class="card-title">Name project</span>
                </div>
                <div class="card-portfolio features-card">
                    <img src="img/portfolio/project-5.jpg" alt="фотография участника компании" class="abaut-card__img card-portfolio__img">
                    <ul class="card-social__list card-portfolio__list">
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-link"></i></a>
                    </ul>
                    <span class="card-title">Name project</span>
                </div>
                <div class="card-portfolio features-card features-card_big">
                    <img src="img/features/features-1.jpeg" alt="фотография участника компании" class="abaut-card__img card-portfolio__img features-card_img">
                    <ul class="card-social__list card-portfolio__list features-card_list">
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-link"></i></a>
                    </ul>
                    <span class="card-title">Name project</span>
                </div>
                <div class="card-portfolio features-card features-card_big card-features_oder">
                    <img src="img/features/features-2.jpeg" alt="фотография участника компании" class="abaut-card__img card-portfolio__img features-card_img">
                    <ul class="card-social__list card-portfolio__list features-card_list">
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                        <li class="card-social__item"><a href="#" class="card-social__link"><i class="fa fa-link"></i></a>
                    </ul>
                    <span class="card-title">Name project</span>
                </div>
            </div>
        </div>     
    </main>

<%- include('_layouts/footer')%>

    <script src="/js/main.js"></script>
    <script src="/js/Slider.js"></script>
    <script src="/js/sliderFeatures.js"></script>
    <script src="/js/tabs.js"></script>

</body>
</html>