<%- include('_layouts/header')%>
    <main class="main">
        <section class="slaider__wrapper slider-bg slider__main_wrapper">
        <div class="slider slider__main">
            <div class="slider__item slider__item_main slider__item_main_active">
                <h2 class="slider__title">Modus</h2>
                <p class="slider__text">Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
            </div>
            <div class="slider__item slider__item_main">
                <h2 class="slider__title">VESTIBULUM</h2>
                <p class="slider__text">Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
            </div>
            <div class="slider__item slider__item_main">
                <h2 class="slider__title">Fation</h2>
                <p class="slider__text">Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
            </div>
            <a href="" class="slider__arrow slider__arrow_left">
                <span class="arrow__inner arrow__inner_left"></span>
                <span class="arrow__inner_1 arrow__inner arrow__inner_left"></span>
            </a>
            <a href="" class="slider__arrow slider__arrow_right">
                <span class=" arrow__inner_right arrow__inner"></span>
                <span class="arrow__inner_2 arrow__inner_right arrow__inner"></span>
            </a>
        </div>
        <ul class="slider-indicator slider_indicator_index">
            <li class="slider-indicator__item slider-indicator_active"></li>
            <li class="slider-indicator__item"></li>
            <li class="slider-indicator__item"></li>
        </ul>
    </section>
    <div class="container">
        <section class="info flex-container">
            <div class="info__inner">
                <h4 class="info__title">Some of our top serv</h4>
                <p class="info__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.Ut eleifend libero sed neque rhoncus consequat.</p>
            </div>
            <div class="info__inner">
                <a href="#" class="btn__blue info__btn btn__big">VIEW MORE</a>
            </div> 
        </section>
        <sectiom class="services flex-container">
            <div class="card">
                <span class="card__img"><i class="fa fa-thumbs-o-up"></i></span>
                <span class="card__title">SUSPENDISSE </span>
                <p class="card__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus .</p>
                <a href="#" class="card__btn btn__big">read more</a>
            </div>
            <div class="card">
                <span class="card__img"><i class="fa fa-key"></i></span>
                <span class="card__title">MAECENAS </span>
                <p class="card__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
                <a href="#" class="card__btn btn__big">read more</a>
            </div>
            <div class="card">
                <span class="card__img"><i class="fa fa-flag-o"></i></span>
                <span class="card__title">ALIQUAM </span>
                <p class="card__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
                <a href="#" class="card__btn btn__big">read more</a>
            </div>
            <div class="card">
                <span class="card__img"><i class="fa fa-flask"></i></span>
                <span class="card__title">HABITASSE </span>
                <p class="card__text">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci</p>
                <a href="#" class="card__btn btn__big">read more</a>
            </div>
        </sectiom>
    </div>
    <section class="about">
        <div class="container">
            <h1 class="section-title">Why Choose Us ?</h1>
            <p class="section-text">Capacitance cascading integer reflective interface data development high bus cache dithering transponder.</p>
            <div class="dws-wrapper">
                <ul class="accordion">
                    <li class="accordion__item"><img src="img/accordion/accardion-1.jpg" alt="accordion-img">
                        <ul class="circle">
                            <li class="circle__item"></li>
                            <li class="circle__item"></li>
                            <li class="circle__item"></li>
                        </ul>
                        <span class="dash"></span>
                    </li>
                    <li class="accordion__item"><img src="img/accordion/accordion-2.jpg" alt="accordion-img">
                        <ul class="circle">
                            <li class="circle__item"></li>
                            <li class="circle__item"></li>
                            <li class="circle__item"></li>
                        </ul>
                        <span class="dash"></span>
                    </li>
                    <li class="accordion__item"><img src="img/accordion/accordion-3.jpg" alt="accordion-img">
                        <ul class="circle">
                            <li class="circle__item"></li>
                            <li class="circle__item"></li>
                            <li class="circle__item"></li>
                        </ul>
                        <span class="dash"></span>
                    </li>
            
                </ul>
            </div>
            <div class="flex-container flex-skills">
                <div class="block-us">
                   <h4 class="block-title us__title">Why Choose Us ?</h4>
                    <ul class="block-us__list">
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Quisque at massa ipsum </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Maecenas a lorem augue, egestas</li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Cras vitae felis at lacus eleifend </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Etiam auctor diam pellentesque</li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Nulla ac massa at dolor </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Condimentum eleifend vitae vitae </li>
                    </ul>
                </div>
                <div class="block-skills">
                    <p class="block-skills__text">
                        Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus <a href="#" class="skills__link">vehicula mattis</a> . Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
                    </p>
                    <div class="skills-container">
                       <div class="skills__item">
                            <svg viewbox="0 0 200 200">
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#a65980"/>
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#20a8da"
                                      stroke-linecap="round" stroke-dasharray="251.2 502.4"
                                      stroke-dashoffset="-45" />
                            </svg>
                            <span class="skills__number">50</span>
                            <span class="block-title skills__title">SUSPENDISSE</span>
                       </div>
                       <div class="skills__item">
                            <svg viewbox="0 0 200 200">
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#a65980"/>
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#20a8da"
                                      stroke-linecap="round" stroke-dasharray="300.2 502.4"
                                      stroke-dashoffset="-45" />
                            </svg>
                            <span class="skills__number">70</span>
                            <span class="block-title skills__title">MAECENAS </span>
                       </div>
                       <div class="skills__item">
                            <svg viewbox="0 0 200 200">
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#a65980"/>
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#20a8da"
                                      stroke-linecap="round" stroke-dasharray="320 502.4"
                                      stroke-dashoffset="-45" />
                            </svg>
                            <span class="skills__number">80</span>
                            <span class="block-title skills__title">ALIQUAM </span>
                       </div>
                       <div class="skills__item">
                            <svg viewbox="0 0 200 200">
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#a65980"/>
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#20a8da"
                                      stroke-linecap="round" stroke-dasharray="502.4 502.4"
                                      stroke-dashoffset="-45" />
                            </svg>
                            <span class="skills__number skills__number_three">100</span>
                            <span class="block-title skills__title">HABITASSE </span>
                       </div>
                    </div>
                </div> 
                <div class="block-reviws">
                    <h4 class="block-title blockquoter__title">
                        What Client’s Say ?
                    </h4>
                    <p class="blockquoter">
                        <q class="blockquoter__text">Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum</q>
                        <cite class="blockquoter__author">Jhon Doe</cite>
                    </p>
                </div>           
            </div>
        </div>
    </section>
    <section class="clients">      
    </section>
     </main>
     
    <%- include('_layouts/footer')%>

    <script src="/js/main.js"></script>
    <script src="/js/Slider.js"></script>
    <script src="/js/sliders.js"></script>

</body>
</html>