<%- include('_layouts/header')%>
    <main class="main">
    <section class="breadcrumb">
        <div class="container">
            <div class="flex-container flex-breadcrumb">
                <span class="block-title">Services</span>
                <p class="breadcrumb-container">
                    <a href="index.html" class="breadcrumb-link">Home</a>
                    <span>/</span>
                    <a href="#" class="breadcrumb-link">About us</a>
                </p>
            </div>
        </div>
    </section>
    <section class=" block-about">
        <div class="container">
           <h2 class="about-title">Donec faucibus ultricies congue</h2>
           <p class="about-text">Maecenas eget turpis turpis. Nunc vel metus augue. Aenean euismod cursus ligula eget dapibus. Praesent vel erat in tortor placerat dignissim. Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <div class="flex-container flex-skills">
                <div class="block-us">
                   <h4 class="block-title us__title">PLANNING</h4>
                    <ul class="block-us__list">
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Quisque at massa ipsum </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Maecenas a lorem augue, egestas</li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Cras vitae felis at lacus eleifend </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Etiam auctor diam pellentesque</li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Nulla ac massa at dolor </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Condimentum eleifend vitae vitae </li>
                    </ul>
                </div>
                <div class="block-us">
                   <h4 class="block-title us__title">DEVELOPMENT</h4>
                    <ul class="block-us__list">
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Quisque at massa ipsum </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Maecenas a lorem augue, egestas</li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Cras vitae felis at lacus eleifend </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Etiam auctor diam pellentesque</li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Nulla ac massa at dolor </li>
                        <li class="block-us__item"><span class="list-type"><i class="fa fa-arrow-right"></i></span> Condimentum eleifend vitae vitae </li>
                    </ul>
                </div>
                <div class="block-skills block-us_skills">
                    <p class="block-skills__text">
                        Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus <a href="#" class="skills__link">vehicula mattis</a> . Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
                    </p>
                    <div class="skills-container">
                       <div class="skills__item">
                            <svg viewbox="0 0 200 200">
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#a65980"/>
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#20a8da"
                                      stroke-linecap="round" stroke-dasharray="251.2 502.4"
                                      stroke-dashoffset="-45" />
                            </svg>
                            <span class="skills__number">50</span>
                            <span class="block-title skills__title about-skills">SUSPENDISSE</span>
                       </div>
                       <div class="skills__item">
                            <svg viewbox="0 0 200 200">
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#a65980"/>
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#20a8da"
                                      stroke-linecap="round" stroke-dasharray="300.2 502.4"
                                      stroke-dashoffset="-45" />
                            </svg>
                            <span class="skills__number">70</span>
                            <span class="block-title skills__title about-skills">MAECENAS </span>
                       </div>
                       <div class="skills__item">
                            <svg viewbox="0 0 200 200">
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#a65980"/>
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#20a8da"
                                      stroke-linecap="round" stroke-dasharray="320 502.4"
                                      stroke-dashoffset="-45" />
                            </svg>
                            <span class="skills__number">80</span>
                            <span class="block-title skills__title about-skills">ALIQUAM </span>
                       </div>
                       <div class="skills__item">
                            <svg viewbox="0 0 200 200">
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#a65980"/>
                              <circle r="80" cx="100" cy="100" fill="none" stroke-width="20" stroke="#20a8da"
                                      stroke-linecap="round" stroke-dasharray="502.4 502.4"
                                      stroke-dashoffset="-45" />
                            </svg>
                            <span class="skills__number skills__number_three">100</span>
                            <span class="block-title skills__title about-skills">HABITASSE </span>
                       </div>
                    </div>
                </div>         
            </div>
        </div>
    </section>
    <section class="about__services">
        <div class="container">
           <h2 class="services__title section-title">PRICING TABLES</h2>
           <div class="services flex-container">
                <div class="services-card card">
                  <a href="#" class="card__btn_top btn__big">START</a>
                    <ul class="card-services__list">
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                    </ul>
                    <a href="#" class="card__btn btn__big">Buy NOW</a>
                </div>
                <div class="services-card  card">
                  <a href="#" class="card__btn_top btn__big">BASIC</a>
                    <ul class="card-services__list">
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                    </ul>
                   <a href="#" class="card__btn btn__big">Buy NOW</a>
                </div>
                <div class="services-card card">
                  <a href="#" class="card__btn_top btn__big">BUSINESS</a>
                    <ul class="card-services__list">
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                    </ul>
                   <a href="#" class="card__btn btn__big">Buy NOW</a>
                </div>
                <div class="services-card card">
                  <a href="#" class="card__btn_top btn__big">EXTENDED</a>
                    <ul class="card-services__list">
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                        <li class="card-services__item"><a href="#" class="card-services__link">Maecenas a lorem augue</a></li>
                    </ul>
                    <a href="#" class="card__btn btn__big">Buy NOW</a>
                </div>
            </div>
        </div>
    </section>
    <section class="clients about-clients">
        <div class="container">
             <h2 class="section-title about-clients__title">Best Solution is the simplest IDEA!</h2>
            <p class="section-text about-clients__text">Capacitance cascading integer reflective interface data development high bus cache dithering transponder. Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci</p>
        </div>
    </section>
    </main>
<%- include('_layouts/footer')%>

    <script src="/js/main.js"></script>

</body>
</html>